@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
:root {
  --landing-background: #fffffe;
  --landing-title: #272343;
  --landing-text: #2d334a;
  --landing-button: #ffd803;
  --landing-button-text: #272343;

  --background: #e3f6f5;
  --title: #272343;
  --sub-title: #2d334a;

  --card-background: #fffffe;
  --card-title: #272343;
  --card-text: #2d334a;
  --card-highlight: #ffd803;

  --icon-stroke: #272343;
  --icon-main: #fffffe;
  --icon-highlight: #ffd803;
}

@media (prefers-color-scheme: dark) {
  :root {
    --landing-background: #232946;
    --landing-title: #fffffe;
    --landing-text: #b8c1ec;
    --landing-button: #eebbc3;
    --landing-button-text: #232946;

    --background: #d4d8f0;
    --title: #232946;
    --sub-title: #232946;

    --card-background: #fffffe;
    --card-title: #232946;
    --card-text: #232946;
    --card-highlight: #eebbc3;

    --icon-stroke: #121629;
    --icon-main: #b8c1ec;
    --icon-highlight: #eebbc3;
  }
}
* {
  font-family: Lato;
  margin: 0;
  box-sizing: border-box;
}
